/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroImage {
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.heroText {
  flex: 1;
}

.heroImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 100%;
  max-width: 300px;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .heroContentWrapper {
    flex-direction: column;
    text-align: center;
  }
  .heroImageContainer {
    margin-top: 1rem;
  }
}
